language: node_js
node_js:
  - 12
os:
  - linux
sudo: false
addons:
  apt:
    # Flutter depends on /usr/lib/x86_64-linux-gnu/libstdc++.so.6 version GLIBCXX_3.4.18
    sources:
      - ubuntu-toolchain-r-test # if we don't specify this, the libstdc++6 we get is the wrong version
    packages:
      - libstdc++6
      - fonts-droid-fallback
before_script:
  - git clone https://github.com/flutter/flutter.git -b stable
  - ./flutter/bin/flutter doctor
  - cd ./lib/js_service_kusama && npm install && npm run build && cd ../..
  - cd ./lib/js_service_acala && npm install && npm run build && cd ../..
  - cd ./lib/js_service_laminar && npm install && npm run build && cd ../..
  - cd ./lib/js_as_extension && npm install && npm run build && cd ../..
script:
  - ./flutter/bin/flutter test
cache:
  directories:
    - $HOME/.pub-cache