name: polka_wallet
description: EncointerWallet made with Flutter.

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html

version: 0.8.1+800

environment:
  sdk: ">=2.2.0 <3.0.0"

dependencies:
  # intl - format numbers
  intl: ^0.16.0
  json_annotation: ^3.0.1
  # state management with mobx
  mobx: ^1.2.0
  flutter_mobx: ^1.1.0
  shared_preferences: ^0.5.6
  get_storage: ^1.2.1
  flutter_aes_ecb_pkcs5: ^0.1.1
  convert: ^2.1.1
  http: ^0.12.0
  flutter_webview_plugin: ^0.3.11
  rxdart: ^0.24.0
  flutter_local_notifications: ^1.4.2
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  ota_update: ^2.3.0
  update_app: ^0.1.5
  base58check: ^1.0.1

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.2
  # QR code generator & reader
  qr_flutter:
    git:
      url: https://github.com/polkawallet-io/qr.flutter.git
      ref: master
  flutter_qr_scan:
    git:
      url: https://github.com/polkawallet-io/flutter_qr_reader.git
      ref: master
  permission_handler: ^4.2.0
  charts_flutter: ^0.8.1
  flutter_svg: ^0.18.0
  url_launcher: ^5.4.2
  dropdown_search: ^0.4.4

dev_dependencies:
  build_runner: ^1.7.4
  json_serializable: ^3.0.0
  mobx_codegen: ^1.1.0
  mockito: ^4.1.1
  # Check unused dependencies. Note: Some packages are not imported by any dart files but are used
  # for their executables. If that is the case, they can be white-listed by using the --ignore option.
  # mobx_codegen, json_seriablizable belong to these.
  dependency_validator: any
  flutter_test:
    sdk: flutter

flutter_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/images/public/app.png"

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    # js service
    - lib/js_service_encointer/dist/main.js

    # images
    ## images - settings
    - assets/images/public/nctr-cln.png
    - assets/images/public/nctr-cln_gray.png
    - assets/images/public/nctr-gsl-dev.png
    - assets/images/public/nctr-gsl-dev_gray.png
    - assets/images/public/nctr-gsl.png
    - assets/images/public/nctr-gsl_gray.png
    - assets/images/assets/ERT.png
    - assets/images/assets/scanner.png
    ## images - acala
    - assets/images/assets/scanner_indigo.png
    - assets/images/assets/top_bg_indigo.png
    - assets/images/assets/receive_line_indigo.png
    - assets/images/assets/qrcode_indigo.png
    - assets/images/assets/plus_indigo.png
    - assets/images/staking/top_bg_indigo.png
    - assets/images/public/Assets_indigo.png
    - assets/images/public/Profile_indigo.png
    - assets/images/public/Ceremonies_indigo.png
    - assets/images/public/Ceremonies_dark.png
    ## images - laminar
    - assets/images/assets/scanner_purple.png
    - assets/images/assets/top_bg_purple.png
    - assets/images/assets/receive_line_purple.png
    - assets/images/assets/qrcode_purple.png
    - assets/images/assets/plus_purple.png
    - assets/images/staking/top_bg_purple.png
    - assets/images/public/Assets_purple.png
    - assets/images/public/Profile_purple.png
    ## images - kusama
    - assets/images/assets/scanner_black.png
    - assets/images/public/Assets_black.png
    - assets/images/public/Profile_black.png
    - assets/images/assets/top_bg_black.png
    - assets/images/assets/qrcode_black.png
    - assets/images/assets/plus_black.png
    - assets/images/assets/receive_line_black.png
    - assets/images/public/kusama.png
    ## images - polkadot
    - assets/images/assets/scanner_pink.png
    - assets/images/public/app.png
    - assets/images/public/Assets_pink.png
    - assets/images/public/Profile_pink.png
    - assets/images/public/Assets_dark.png
    - assets/images/public/Profile_dark.png
    - assets/images/public/logo_about.png
    - assets/images/public/dontscreen.png
    - assets/images/public/copy.png
    - assets/images/public/polkadot.png
    - assets/images/public/polkadot_gray.png
    - assets/images/public/westend.png
    - assets/images/public/substrate.png
    - assets/images/public/default.png
    - assets/images/assets/logo.png
    - assets/images/assets/top_bg_pink.png
    - assets/images/assets/Assets_nav_0.png
    - assets/images/assets/Assets_nav_1.png
    - assets/images/assets/qrcode_pink.png
    - assets/images/assets/plus_pink.png
    - assets/images/assets/Menu_scan.png
    - assets/images/assets/Menu_wallet.png
    - assets/images/assets/assets_send.png
    - assets/images/assets/assets_receive.png
    - assets/images/assets/assets_up.png
    - assets/images/assets/assets_down.png
    - assets/images/assets/assets_fail.png
    - assets/images/assets/success.png
    - assets/images/assets/receive_line_pink.png
    - assets/images/staking/top_bg_pink.png
    - assets/images/profile/about.png
    - assets/images/profile/address.png
    - assets/images/profile/setting.png

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
