name: encointer_wallet
description: EncointerWallet made with Flutter.

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html

version: 1.0.3+811F

publish_to: none

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  # intl - format numbers
  intl: ^0.17.0
  json_annotation: ^3.1.1
  # state management with mobx
  mobx: ^1.2.1+4
  flutter_mobx: ^1.1.0+2
  shared_preferences: ^2.0.5
  get_storage: ^2.0.2
  convert: ^2.1.1
  clipboard: ^0.1.2+8
  http: ^0.13.1
  flutter_webview_plugin: ^0.4.0
  rxdart: ^0.26.0
  flutter_local_notifications: ^5.0.0+1
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  ota_update: ^3.0.1
  update_app: ^0.1.5
  base58check: ^1.0.1
  package_info: ^2.0.0
  quiver: ^3.0.1
  share: ^0.6.5+4
  dio: ^4.0.0
#  image_cropper: ^1.4.0
  image_picker: ^0.7.5+2

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.2
  # QR code generator & reader
  qr_flutter:
    git:
      url: https://github.com/polkawallet-io/qr.flutter.git
      ref: master
  flutter_qr_scan:
    git:
      url: https://github.com/polkawallet-io/flutter_qr_reader.git
      ref: master
  aes_ecb_pkcs5_flutter: ^0.1.2
  permission_handler: ^6.1.3
  flutter_svg: ^0.21.0+1
  url_launcher: ^6.0.3
  dropdown_search: ^0.5.0
  charts_flutter: ^0.10.0
  material_floating_search_bar: ^0.3.5
  provider: ^6.0.1
  flutter_map: ^0.13.1
  flutter_map_marker_popup: ^2.0.0
  validators: ^3.0.0
  dart_geohash: ^2.0.1
  iconsax: ^0.0.8

dev_dependencies:
  build_runner: ^1.11.0
  json_serializable: ^3.5.1
  mobx_codegen: ^1.1.2
  mockito: ^4.1.4
  # Check unused dependencies. Note: Some packages are not imported by any dart files but are used
  # for their executables. If that is the case, they can be white-listed by using the --ignore option.
  # mobx_codegen, json_seriablizable belong to these.
  dependency_validator: any
  flutter_test:
    sdk: flutter
  flutter_driver:
    sdk: flutter
  test: ^1.16.5

flutter_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/images/public/app.png"

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    # js service
    - lib/js_service_encointer/dist/main.js

    #svg
    - assets/nctr_logo.svg
    - assets/nctr_mosaic_background.svg
    # images
    ## images - settings
    - assets/images/public/nctr-cln.png
    - assets/images/public/nctr-cln_gray.png
    - assets/images/public/nctr-cln-dev.png
    - assets/images/public/nctr-cln-dev_gray.png
    - assets/images/public/nctr-gsl-dev.png
    - assets/images/public/nctr-gsl-dev_gray.png
    - assets/images/public/nctr-gsl.png
    - assets/images/public/nctr-gsl_gray.png
    - assets/images/assets/ERT.png
    - assets/images/assets/scanner.png
    ## images - acala
    - assets/images/assets/scanner_indigo.png
    - assets/images/assets/top_bg_indigo.png
    - assets/images/assets/receive_line_indigo.png
    - assets/images/assets/qrcode_indigo.png
    - assets/images/assets/plus_indigo.png
    - assets/images/staking/top_bg_indigo.png
    - assets/images/public/Wallet_indigo.png
    - assets/images/public/Bazaar_dark.png
    - assets/images/public/Profile_indigo.png
    - assets/images/public/Ceremonies_indigo.png
    - assets/images/public/Ceremonies_dark.png
    - assets/images/public/Contacts_indigo.png
    - assets/images/public/Contacts_dark.png
    - assets/images/public/Scan_indigo.png
    - assets/images/public/Scan_dark.png
    - assets/images/public/Bazaar_indigo.png
    ## images - laminar
    - assets/images/assets/scanner_purple.png
    - assets/images/assets/top_bg_purple.png
    - assets/images/assets/receive_line_purple.png
    - assets/images/assets/qrcode_purple.png
    - assets/images/assets/plus_purple.png
    - assets/images/staking/top_bg_purple.png
    - assets/images/public/Wallet_purple.png
    - assets/images/public/Profile_purple.png
    ## images - kusama
    - assets/images/assets/scanner_black.png
    - assets/images/public/Wallet_black.png
    - assets/images/public/Bazaar_black.png
    - assets/images/public/Profile_black.png
    - assets/images/assets/top_bg_black.png
    - assets/images/assets/qrcode_black.png
    - assets/images/assets/plus_black.png
    - assets/images/assets/receive_line_black.png
    - assets/images/public/kusama.png
    ## images - polkadot
    - assets/images/assets/scanner_pink.png
    - assets/images/public/app.png
    - assets/images/public/Wallet_pink.png
    - assets/images/public/Bazaar_pink.png
    - assets/images/public/Profile_pink.png
    - assets/images/public/Wallet_dark.png
    - assets/images/public/Profile_dark.png
    - assets/images/public/logo_about.png
    - assets/images/public/dontscreen.png
    - assets/images/public/copy.png
    - assets/images/public/polkadot.png
    - assets/images/public/polkadot_gray.png
    - assets/images/public/westend.png
    - assets/images/public/substrate.png
    - assets/images/public/default.png
    - assets/images/assets/logo.png
    - assets/images/assets/top_bg_pink.png
    - assets/images/assets/Assets_nav_0.png
    - assets/images/assets/Assets_nav_1.png
    - assets/images/assets/qrcode_pink.png
    - assets/images/assets/plus_pink.png
    - assets/images/assets/Menu_scan.png
    - assets/images/assets/assets_send.png
    - assets/images/assets/assets_receive.png
    - assets/images/assets/assets_up.png
    - assets/images/assets/assets_down.png
    - assets/images/assets/assets_fail.png
    - assets/images/assets/success.png
    - assets/images/assets/receive_line_pink.png
    - assets/images/staking/top_bg_pink.png
    - assets/images/profile/about.png
    - assets/images/profile/address.png
    - assets/images/profile/setting.png

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
