name: Android Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  cancel_previous_runs:
    name: Cancel Previous Runs
    runs-on: ubuntu-20.04
    steps:
      - uses: styfle/cancel-workflow-action@0.4.1
        with:
          access_token: ${{ secrets.GITHUB_TOKEN }}

  build-android:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      # Setup Environment
      - uses: actions/checkout@v2
        with:
          # 2 to compare the last two revisions to check if JS changed
          fetch-depth: 2

      - uses: monorepo-actions/config-for-actions@main
        id: config
        with:
          config_files: ./.github/action-config.json

      - uses: actions/setup-java@v1
        with:
          java-version: ${{ steps.config.outputs.java-version }}

      - uses: subosito/flutter-action@v1
        with:
          flutter-version: ${{ steps.config.outputs.flutter-version }}

      # JS Stuff
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ steps.config.outputs.node-version }}

      - name: "Set yarn version"
        run: yarn policies set-version ${{ steps.config.outputs.yarn-version }}

      - name: "Build JS"
        working-directory: ./scripts
        run: source ./init_env.sh && ./build_js.sh

      # Upload artifacts
      - name: Upload js
        uses: actions/upload-artifact@v2
        with:
          name: main-js-${{ github.sha }}-${{ runner.os}}
          path: lib/js_service_encointer/dist/main.js

      - name: "Build apk"
        run: flutter build apk --flavor fdroid
